@model mvc.northwind.EF.Category

@{
    ViewBag.Title = @ViewBag.Title;
    Layout = "~/Views/Layouts/Category/_base.cshtml";
}

<h2>@ViewBag.Title</h2>

<form action=@ViewBag.Action method="post">
    @Html.HiddenFor(x => x.CategoryID)

    <div>
        <hr />
        <div>
            <label>Name</label>@Html.TextBoxFor(x => x.CategoryName)
            <label>Description</label>@Html.TextBoxFor(x => x.Description)
        </div>
    </div>



    <input type="submit" value=@ViewBag.ButtonTitle />
</form>

@RenderBody()