@using System.Data
@using mvc.northwind.EF

@{
    ViewBag.Title = "Category Index";
    Layout = "~/Views/Layouts/Category/_base.cshtml";
}

<h2>@ViewBag.Title</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Resim</th>
        <th>Update</th>
    </tr>

    @foreach (Category item in ViewBag.list)
    {
        using (Html.BeginForm("Display", "Category"))
        {
            <tr>
                <td>@item.CategoryID</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.Picture</td>
                <td>@Html.ActionLink("Güncelle", "Display", new { id = item.CategoryID })</td>
            </tr>
        }

    }

</table>